<div class="bloc bloc1 blocktitle">
<a href="$url$">	<span class="firstname">$firstname$</span> <span class="lastname">$lastname$</span>
   <i class="icon-user icon-large"></i>
</a>
</div>

<div class="bloc bloc1 speakeravatar">
	<img src="$avatar$" />
</div>

<div class="bloc bloc2h speakeravatar">
	<img src="$companylogo$" />
</div>

$block speakers html$

$block tickets html$

<div class="bloc blocfloat2h speakerbio">
   <i class="icon-book icon-large"></i>
	$body$
</div>

<div class="bloc bloc2v2h twittertimeline">
<a class="twitter-timeline"  href="https://twitter.com/$twitter$" data-widget-id="$twitterwidgetid$">Tweets by @$twitter$</a>
</div>


<div class="no_more_pic"></div>
