<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>My Hakyll Blog - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">My Hakyll Blog</a>
            </div>
            
        </div>

        <div id="content">
				
 	        <div class="bloc">
 	        </div>
 	        <div class="bloc bloc2h">
 	        </div>
 	        <div class="bloc">
 	        </div>
 	        <div class="bloc bloc2v">
 	        </div>
 	        <div class="bloc">
 	        </div>
 	        <div class="bloc bloc2h2v">
 	        </div>
 	  <div class="bloc">
 	        </div> <div class="bloc">
 	        </div> <div class="bloc">
 	        </div> <div class="bloc bloc2h">
 	        </div> <div class="bloc">
 	        </div> <div class="bloc">
 	        </div>

        </div>
        <div id="footer"> 
        </div>
		  
	     <script type="text/javascript" src="/js/underscore-min.js"></script>
	     <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	     <script type="text/javascript" src="/js/masonry.js"></script>
	     <script type="text/javascript" src="/js/main.js"></script>
		  
    </body>
</html>
