<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Web2day 2013 - Official site</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
		<link rel="stylesheet" href="/assets/css/stylesheet.css" type="text/css" charset="utf-8" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		

		
    </head>
    <body>
        <!--div id="header">
			<div id="separator">
				<ul id="topmenu">
					<li>
						<a href="#">SPEAKERS</a>
					</li>
					<li>
						<a href="#">EVENTS</a>
					</li>
					<li>
						<a href="#">BLOG</a>
					</li>
					<li>
						<a href="#">SPONSORS</a>
					</li>
					<li>
						<a href="#">ALL</a>
					</li>
				</ul>
			</div>
		
            <div id="logo">
                 <a href"/"><img src="/assets/images/logo_web2day.png" /></a>
            </div>
            
        </div-->

        <div id="content">
           <div id="bloc_home" class="bloc bloc2h"><a href="/"><img src="/assets/images/logo_web2day.png" /></a></div>

                        $body$
                        
            $block share html$

        </div>
        <div id="p3d">
        </div>
        
        <div id="footer">
        </div>
		  
	     <script type="text/javascript" src="/js/underscore-min.js"></script>
	     <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	     <script type="text/javascript" src="/js/masonry.js"></script>
	     <script type="text/javascript" src="/js/main.js"></script>
		  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=353048934778048";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        
	     <!--script type="text/javascript" src="/js/Three.js"></script>
	     <script type="text/javascript" src="/js/main_particles.js"></script-->
        
        
        
    </body>
</html>
