<div class="bloc bloc2h blocktitle">
<a href="$url$">
    <span>$title$</span>
    <i class="icon-calendar icon-large"></i>
</a>
</div>

<div class="bloc bloc1 eventbloc $eventcolor$">
   <i class="icon-calendar pull-right icon-2x"></i>
    <h3>Infos pratiques</h3>
    <span class="type_event">$type$</span>
    <span class="location">$location$</span>
    <span class="start">$start$</span>
    <span class="start">$end$</span>
</div>

$block topic html$

$block events html$

$block tickets html$

$speakers$

$topicBlock$

<div class="bloc blocfloat2h speakerbio">
   <i class="icon-book icon-large"></i>
	$body$
</div>

