<div class="eventbloc bloc bloc1 event-maxi">
    <i class="icon-map-marker pull-right icon-4x"></i>
    <h3>Room 1</h3>
</div>

<div class="eventbloc bloc bloc1 event-mini">
    <i class="icon-map-marker pull-right icon-4x"></i>
    <h3>Room 2</h3>
</div>

<div class="eventbloc bloc bloc1 event-trempolino">
    <i class="icon-map-marker pull-right icon-4x"></i>
    <h3>Trempolino</h3>
</div>

<div class="bloc bloc2h3v">
   <div id="calendar-thursday"></div>
</div>
<div class="bloc bloc2h3v">
   <div id="calendar-friday"></div>
</div>

<div class="randomize_plz">

$block events html$

$events$

$block speakers html$

$block tickets html$
</div>

