<div class="info">Posted on $date$</div>

$body$



   <div id="content">
				
      <div class="bloc">-
      </div>
      <div class="bloc bloc2h">-
      </div>
      <div class="bloc">-
      </div>
      <div class="bloc bloc2v">-
      </div>
      <div class="bloc">-
      </div>
      <div class="bloc bloc2h2v">-
      </div>
<div class="bloc">-
      </div> <div class="bloc">-
      </div> <div class="bloc">-
      </div> <div class="bloc bloc2h">-
      </div> <div class="bloc">-
      </div> <div class="bloc">-
      </div>

   </div>