<div class="bloc bloc1 speakername">
<a href="$url$">	<span class="firstname">$firstname$</span> <span class="lastname">$lastname$</span>
   <i class="icon-user icon-large"></i>
</a>
</div>

<div class="bloc bloc1 speakeravatar">
	<img src="$avatar$" />
</div>

$block speakers html$
<div class="bloc bloc2v speakerbigphotov">
	<img src="$bigphoto$" />
</div>

$block tickets html$

<div class="bloc blocfloat2h speakerbio">
   <i class="icon-book icon-large"></i>
	$body$
   
</div>

<div class="bloc bloc2v2h twittertimeline">
<a class="twitter-timeline"  href="https://twitter.com/$twitter$" data-widget-id="$twitterwiddgetid$">Tweets by @$twitter$</a>
</div>

<div class="bloc bloc2h speakerbigphotoh">
	<img src="$bigphoto2$" />
</div>