<div class="bloc bloc1 speakeravatar">
	<img src="$avatar$" />
</div>

<div class="bloc bloc1 speakername">
	<span class="firstname">$firstname$</span> <span class="lastname">$lastname$</span>
   <i class="icon-user icon-large"></i>
  <div class="his-confs">$confs$</div>
</div>

<div class="bloc blocfloat2h speakerbio">
   <i class="icon-quote-right icon-large"></i>
	$body$
   <i class="icon-quote-left icon-large"></i>
   
</div>

<div class="bloc bloc2v2h twittertimeline">
<a class="twitter-timeline"  href="https://twitter.com/$twitter$" data-widget-id="$twitterwiddgetid$">Tweets by @$twitter$</a>
</div>
